<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>Show Page</title>
</head>
<body>
  <a href="/mongoose">BackHome</a>

  <h1>show page</h1>

  <p>Name: <%= products.name %></p>

  <p>Description: <%= products.description %></p>

  <p>Qty: <%=products.qty%></p>

  <p>Price: $<%=products.price%></p>
  
  <img src="<%=products.img%>" alt="">

  <ul>
    <li>
      <form action="/mongoose/<%=products._id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
    </li>
    <li>
      <a href="/mongoose/<%=products._id%>/edit">Edit</a>
    </li>
  </ul>

</body>
</html>